@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  background: #e1e8ed;
}

.navbar {
  margin-top: 15px;
  margin-bottom: 20px;
}

.navbar img {
  height: 40px;
  width: 50px;
}

/*///////////////////////////////////////////////////////////////////////////////*/
/*// SIDEBAR*/
/*///////////////////////////////////////////////////////////////////////////////*/
.custom-restricted-width {
  /*display: inline-block;*/
  width: 250px;
}

.sidebar {
    float: left;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #e1e8ed;
}

.sidebar li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar li a:hover {
    text-decoration: none;
    color: #fff;
    background: #1da1f2;
}

.sidebar li a:active,
.sidebar li a:focus {
    text-decoration: none;
}

///////////////////////////////////////////////////////////////////////////////

.tweet-list {
  background: #fff;
  padding: 8px;
  border: 0;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
}

.tweet-list-name {
  font-weight: bold;
  padding-right: 10px;
}

.tweet-list-name:hover, .tweet-list-username:hover {
  color: #0084b4;
  cursor: pointer;
}

.tweet-list-time, .tweet-list-username {
  font-size: 12px;
  color: #999;
  padding-right: 10px;
}

.tweet-list-entry {
  font-size: 16px;
  padding: 8px;
  background-color: #f5f8fa;
  border-color: #999;
  border-radius:10px;
}

.tweet-list-entry-image {
  border-radius: 10px;
  padding-right: 8px;
}

.tweet-list-entry-title {
  font-weight: bold;
}

.tweet-list-entry-text {
  font-size: 16px;
}

.tweet-list-entry-detail {
  font-size: 12px;
  color: #999;
}
